/* src/App.css */
.container {
  display: flex;
}

header,
aside,
main,
footer {
  padding: 20px;
}

header,
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  color: #007bff;
}
