.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  background-color: grey;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 기존 스타일 유지 */
.mailInfo {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem; /* 조절 가능한 간격 */
}

.mailIcon {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 0.5rem; /* 조절 가능한 간격 */
  font-size: 2rem;
}

.githubIcon,
.blogIcon {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0 1rem;
  font-size: 2rem;
}
