/* Header.css */
.header {
  background-color: #000000cb;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.header h1 {
  margin: 0;
}

.content {
  display: flex;
  width: 96%;
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between; /* Use justify-content instead of justify-self */
}

.navigation ul {
  display: flex;
  list-style: none;
}

.navigation li + li {
  margin-left: 30px;
}
