.header {
  max-width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
}

.content {
  display: flex;
  align-items: center;
}

.headerLogoIcon {
  margin: auto;
}

.sidebar-toggle-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 0 1rem;
  font-size: 2rem;
}
